<div class="statsbox panel panel-primary" id="{{ name }}-statsbox">
	<div class="panel-heading">
		<h1>{{ name }}</h1>
	</div>
	<div class="panel-body">
		<div class=" panel panel-default">
			<div class="panel-body">
				<div><h3>Allure {{stats.pace}} </h3><span class="separator-small"></span></div>
					{{#each abilities}}
						{{#compare type '==' "pace"}}
							<div><h3>{{name}}</h3><span class="separator-small"></span> {{effect}}</div>
						{{/compare}}
					{{/each}}
					{{#each abilities}}
						{{#compare type '==' "perception"}}
							<div><h3>{{name}}</h3><span class="separator-small"></span> {{effect}}</div>
						{{/compare}}
					{{/each}}	
			</div>
		</div>
		<div class=" panel panel-default">
			<div class="panel-heading">
				<h1>Traits</h1>
			</div>
			<div class="panel-body">
				<table class="table traits table-bordered">
					<tr>
						{{#each traits}}
							<th>{{@key}}</th>
						{{/each}}
					</tr>
					<tr>
						{{#each traits}}
							<td>{{@this}}</td>
						{{/each}}
					</tr>
				</table>
				<h3>Compétences</h3><span class="separator-small"></span> 
				<ul class="inline-list">
					{{#each skills}}
						<li>{{name}} {{value}}</li>
					{{/each}}
				</ul>
				{{#each abilities}}
					{{#compare type '==' "trait"}}
						<div><h3>{{name}}</h3><span class="separator-small"></span> {{effect}}</div>
					{{/compare}}
				{{/each}}
			</div>
		</div>
		<div class=" panel panel-default defence">
			<div class="panel-heading">
				<h1>Défense</h1>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
						<th>Parade</th>
						<th>Résistance</th>
					</tr>
					<tr>
						<td>{{stats.parry}}</td>
						<td>{{stats.thougness}}</td>
					</tr>
				</table>
				{{#each abilities}}
					{{#compare type '==' "defence"}}
						<div><h3>{{name}}</h3><span class="separator-small"></span> {{effect}}</div>
					{{/compare}}
				{{/each}}
			</div>
		</div>
		<div class=" panel panel-default attack">
			<div class="panel-heading">
				<h1>Attaque</h1>
			</div>
			<div class="panel-body">
				{{#each abilities}}
					{{#compare type '==' "attack"}}
						<div><h3>{{name}}</h3><span class="separator-small"></span> {{effect}}</div>
					{{/compare}}
				{{/each}}
			</div>
				<table class="table table-bordered">
					<tr title="{{description}}">
						<th>Nom</th>
						<th>Toucher</th>
						<th>Portée</th>
						<th>Note</th>
					</tr>
					{{#each weapons}}
						<tr>
							<td>{{name}}</td>
							<td>{{hitChance}}</td>
							<td>{{range}}</td>
							<td class="fixed-size">{{note}}</td>
						</tr>
					{{/each}}
				</table>
		</div>
	</div>
</div>