<form id="weapon-create-form-{{id}}" class="create-item-form">
        <div class="form-group">
        	<label class="control-label" for="name">Nom</label>
				<input class="form-control" type="text" name="name" value="{{name}}">
        </div>
        <div class="form-group">
        	<label class="control-label" for="type">Type d'arme</label>
				<input class="weapon-type form-control" type="text" name="type" value="{{type}}">
        </div>
        <div class="form-group">
        	<label class="control-label" for="hitChance">Chance de toucher</label>
				<input class="dice-value form-control" type="text" name="hitChance" value="{{hitChance}}">
        </div>
        <div class="form-group">
        	<label class="control-label" for="range">Portée de l'arme</label>
				<input class="dice-value form-control" type="text" name="range" value="{{range}}">
        </div>
        <div class="form-group">
        	<label class="control-label" for="note">Note/Effet</label>
				<input class="form-control" type="text" name="note" value="{{note}}">
        </div>
        <div class="form-group">
        	<label class="control-label" for="description">Description</label>
				<input class="form-control" type="text" name="description" value="{{description}}">
        </div>   
</form>